# otel-config.yaml
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9999"  # Expose metrics endpoint on port 9999

  otlp/opensearch:
    endpoint: "9.40.206.98:21890"  # Data Prepper OTLP endpoint
    tls:
      insecure: true    
  debug:
    verbosity: detailed
  logging:
    loglevel: info

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus, otlp/opensearch, debug, logging]
